*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img{
   width: 30vw;
   border-radius:50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity:0.8;
}
.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right, rgb(255,0,255),rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.btn-group{
    display: flex;
    gap: 1rem;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: black;
    display: inline-block;
}
.btn:hover{
    background-color: black;
    color: white;
}

.socials{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.socials a{
    color: black;
    font-size: 2.2rem;
    transition: 0.3s ease-in-out;
    display: inline-flex;
}
.socials a:hover{
    color: rgb(0,157,255);
    background: linear-gradient(to right, rgb(0,157,255), rgb(255,0,255));
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1.15);
}

@media (max-width: 768px){
    .about .about-container{
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }
    .about img{
        width: 60vw;
    }
    .info-box h1{
        font-size: 2.8rem;
    }
}
